body
{
background-color:black;
font-family: 'Poppins', sans-serif;
}
#logo
{
border-style:dotted;
border-radius:25px;
margin-top:5px;
margin-bottom:10px;
}
#navbar1
{
/*position:relative;*/
background-color:#b5b2a8;
border-radius:5px;
font-weight:bold;
}
#x
{
height:40px;
width:100%;
position:fixed;
bottom:0;
left:0;
background-color:#b5b2a8;
border:1px solid red;

}
.fa-regular
{
color:white;
}
#footertext
{
color:white;
}
#p1                 /* product detail page for 2nd <div> */
{
height:430px;
width:500px;
position:absolute;
left:450px;
top:200px;
text-align:justify;
}
.table-bordered
{
border-color:red;
}