<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="text-white">
    <h4> Search results </h4>
    {{s}}
    <br>
<!--    {{word}}-->
</div>

<div class="container-fluid" style="margin-bottom:80px;">
    <div class="row">
        {% if word %}
        {% for i in word %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="{{i.image.url}}" class="card-img-top" style="height:300px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{i.name}}</h5>
                    <h6 class="card-title">Rs. {{i.price}}</h6>
                    <a href="{% url 'shop:detail' i.name %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h4 class="=text-center text-white">No match found</h4>
        {% endif %}
    </div>
</div>

{% endblock %}
